name: NanoCAN

on:
  pull_request:
  push:
    paths-ignore:
    - ".github/**"
    - "configs/**"
  workflow_dispatch:


jobs:
  kicad-export:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: INTI-CMNB/KiBot@v2_k7
      with:
      # Required - kibot config file
        config: configs/PCBWay.kibot.yaml
      # optional - prefix to output defined in config
        dir: output
      # optional - schematic file
      #  schema: '*.kicad_sch'
      # optional - PCB design file
      #  board: '*.kicad_pcb'
    - name: Crop Images
      run: |
        sudo convert output/PCBWay/NanoCAN-3D_ortho.png -crop 475x166+394+0 output/PCBWay/NanoCAN-3D_ortho_crop.png
        sudo convert output/PCBWay/NanoCAN-3D_top.png -crop 475x166+394+0 output/PCBWay/NanoCAN-3D_top_crop.png
        sudo convert output/PCBWay/NanoCAN-3D_bottom.png -crop 475x166+394+0 output/PCBWay/NanoCAN-3D_bottom_crop.png
        sudo mv -f output/PCBWay/NanoCAN-3D_bottom_crop.png  output/PCBWay/NanoCAN-3D_bottom.png
        sudo mv -f output/PCBWay/NanoCAN-3D_top_crop.png  output/PCBWay/NanoCAN-3D_top.png
        sudo mv -f output/PCBWay/NanoCAN-3D_ortho_crop.png  output/PCBWay/NanoCAN-3D_ortho.png
    - name: upload results
      uses: actions/upload-artifact@v2
      with:
        name: output
        path: output
