on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download workflow artifact
        uses: dawidd6/action-download-artifact@v2.27.0
        with:
          workflow: main.yml
          workflow_conclusion: success
          branch: main
          name: output
          if_no_artifact_found: fail
      - name: Release with Notes
        uses: softprops/action-gh-release@v1
        with:
          files: PCBWay/NanoCAN-PCBWay.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

